<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src="">
  var utag_data = {
        "page_type": "product listing",
        "page_group": "brand",
        "page_name": "nyx",
        "user_gtid_device": "917999d846db572a4b6a0b108f36befa",
        "user_gtid_known": "",
        "user_gtid": "a386f03f-7119-4ceb-956a-1f521cf22506"
    }
</script>

<script id="Tealium" type="text/javascript" class="">window.utag_cfg_ovrd = {noview : true};
    (function(a,b,c,d){
    a='https://tags.tiqcdn.com/utag/ulta/main/qa/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();</script>
<body>


<script>
    window.onload = function(){
        window.utag_data = {
        "page_type": "product listing",
        "page_group": "brand",
        "page_name": "nyx",
        "user_gtid_device": "917999d846db572a4b6a0b108f36befa",
        "user_gtid_known": "",
        "user_gtid": "a386f03f-7119-4ceb-956a-1f521cf22506"
    }
    //pass templated variabe over here
    var page_name = document.getElementById("page_name").innerText
    var page_type = document.getElementById("page_type").innerText
    window.utag_data.page_name = page_name;
    window.utag_data.page_type = page_type;
    console.log("triggering utag_view")
    utag.view(utag_data)
    }
</script>


<div class="">
 <h1>Whitebox Testing Environment</h1>

  <h1 id="page_name">
    <%= page_name %>
  </h1>

  <h1 id="page_type">
    <%= page_type %>
  </h1>
</div>

</body>
</html>